/* styles/globals.css */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box; /* Apply to all elements */
}

/*
  Add this class to any element you want to have scrolling functionality
  but without a visible scrollbar. This is for your <main> element.
*/
.hide-scrollbar {
  /* For Firefox */
  scrollbar-width: none;

  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;
}

/* For WebKit browsers (Chrome, Safari, Opera) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
